.App {
  text-align: center;
}



img {
  border: 2px solid black;
  border-radius: 10%;
  padding: 10px;
}

.search_bar {
  margin-top: 15px;
  margin-bottom: 15px;

}

.input_data {
  height: 20px;
}

h1 {
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  
}

button {
  border-radius: 2%;
  height: 25px;
}

input {
  border-radius: 2%;
  margin-right: 15px;
  height: 20px;
}